:root {
    --blau: rgb(27, 126, 219);
}

.outfit-card {
    background-color: white;
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgray;
}
