:root {
  --blau: rgb(27, 126, 219);
}

.outfit-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.merkliste-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 90%;
    margin: 30px auto;
}


.user-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}


.outfit-image {
    width: 100%;
    height: 240px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
}

.stats {
    display: flex;
    justify-content: space-between;
  
}

.community_like,
.community_comment {
    background-color: var(--blau);
    color: white;
    padding: 6px 15px;
  border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.community_like:hover,
.community_comment:hover {
    background-color: rgb(20,100,180);
    scale: 1.05;
}
