.merkliste_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
    column-gap: 15px;
    width: 45%;
    margin: 25px auto;
    align-items: start;
}

.outfit_karte {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 9px rgba(0,0,0,0.2);
    padding: 8px;
    overflow: hidden;
    position: relative;
    max-width: 260px;
}


.outfit_bild {
    width: 100%;
    height: 200px;              
    object-fit: contain;        
    background-color: white;    
    padding: 8px;               
    border-radius: 12px;        
}

.interaktionen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
    margin-top: 6px;
}

.community_like,
.community_comment {
    background-color: var(--blau);
    padding: 12px;
    margin: 5px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 9px rgba(0, 0, 0, 0.2);
    width: 90px;
    text-align: center;
}

.community_like:hover,
.community_comment:hover {
    scale: 1.10;
    background-color: rgb(55, 122, 122);
}
