:root {
    --blau: rgb(27, 126, 219);
    --hellgrau: rgb(205, 205, 205);
}


.merkliste-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 80%;
    margin: 30px auto;
}

.merk-item {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.merk-image {
    width: 100%;
    height: 230px;
    object-fit: contain;  
    background-color: white;
    border-radius: 8px;
}

.icon-heart {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 26px;
    color: red;
    cursor: pointer;
}

.icon-comment {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 26px;
    cursor: pointer;
}

.icon-heart:hover,
.icon-comment:hover {
    scale: 1.10;
    transition: 0.2s ease;
}
