.outfit_karte {
    background: var(--hellgrau);
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
    position: relative;
}

.benutzer_info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.benutzer_icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.benutzername {
    font-weight: bold;
}

.outfit_titel {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.outfit_bild {
    width: 100%;
    height: 320px;
    object-fit: contain;
    margin: 10px 0;
}

.interaktionen {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.community_like,
.community_comment {
    background: var(--hellgrau);
    border: none;
    padding: 10px 18px;
    font-size: 14px;
    cursor: pointer;
}

.community_like:hover,
.community_comment:hover {
    background: var(--dunkelgrau);
}
