:root {
    --blau: rgb(27, 126, 219);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    padding: 30px 0;
}

.kleidungs-card {
    width: 260px;
    height: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    position: relative;
    overflow: hidden;
}

.kleidungs-bild {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-like {
    width: 28px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.icon-comment {
    width: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
