:root {
    --blau: rgb(27, 126, 219);
}

.outfit-card {
    background-color: white;
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    overflow: hidden;
    position: relative;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.user-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;     
    object-position: center;
}


.outfit-title {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.outfit-image {
    width: 100%;             
    height: 320px;           
    object-fit: contain; 
    background-color: white;
    border-radius: 8px;  
    margin-top: 10px;
    margin-bottom: 10px;

    
}


.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.community_like,
.community_comment {
    background-color: var(--blau);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}
