:root {
  --blau: rgb(27, 126, 219);
}

.outfit-card {
    background-color: white;
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.user-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  
}

.outfit-title {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}


.outfit-image {
    width: 100%;
    height: 320px;
    object-fit: contain;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
  
}

.merkliste-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}


.stats {
    display: flex;
    justify-content: space-between;

}

.community_like,
.community_comment {
  background-color: var(--blau);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;

  
}

.likes:hover,
.comments:hover {
    background-color: rgb(20, 100, 180);
    scale: 1.05;
}
