.outfit_karte {
    background-color: var(--hellgrau);    
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 10px 9px rgba(0,0,0,0.2);
    overflow: hidden;
    position: relative;
}

.benutzer_info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.benutzer_icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.benutzername {
    font-weight: bold;
}

.outfit_titel {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.outfit_bild {
    width: 100%;
    height: 320px;
    object-fit: contain;
    margin: 10px 0;
    border-radius: 10px;
}

.interaktionen {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.community_like,
.community_comment {
    background-color: var(--blau);
    padding: 12px;
    margin: 5px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 9px rgba(0, 0, 0, 0.2);
}

.community_like:hover,
.community_comment:hover {
    scale: 1.10;
    background-color: rgb(55, 122, 122);
}
