:root {
    --blau: rgb(27, 126, 219);
}

.merkliste-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 75%;
    margin: 40px auto;
}

.merkliste-card {
    background: white;
    border-radius: 12px;
    width: 260px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.merkliste-img {
    width: 70%;
    height: 240px;
    object-fit: contain;
    transition: transform 0.25s ease-in-out;
}

.merkliste-card:hover .merkliste-img {
    transform: scale(1.05);
}

.merk-buttons {
    display: flex;
    flex-direction: column;   
    align-items: flex-end;    
    gap: 6px;                 
    margin-top: 10px;       
}


.community_like,
.community_comment {
    background-color: var(--blau);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

.community_like:hover,
.community_comment:hover {
    background-color: rgb(20, 100, 180);
}
