.filter_button {
    position: absolute;
    right: 8px;
    top: 115px;
    background: var(--hellgrau); /*von main*/
    border: none;
    width: 50px;
    height: 50px;
}

.filter_button img {
    width: 25px;
    height: 25px;
}

.filter_popup {
    display: none; /*inaktiv*/
    position: absolute;
    right: 8px;
    top: 156px;
    width: 200px;
    background-color: var(--hellgrau); /*von main*/
    padding: 10px;
    z-index: 1; /* pop up wird über Bilder */
    flex-direction: column;
}

.filter_popup.aktiv {
    display: flex; 
}

.filter_title {
    text-align: center;
}

.farben_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* für 6 column */
    gap: 8px;
}

.farbe {
    width: 28px;
    height: 28px;
}

.braun { background: burlywood; }
.rot { background: red; }
.gruen { background: green; }
.rosa { background: pink; }
.orange { background: orange; }
.gelb { background: yellow; }
.schwarz { background: black }

.marken_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}


.kleidungsstück_vorschau {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 400px;
    margin: 55px auto 12px; /* top/ left and righ/ bottom */
}

.kleidungsstück {
    position: relative; /*für löschen_veröffentlichen button*/
}

.kleidungsstück img {
    width: 100%;
}

.löschen_veröffentlichen {
    position: absolute;
    bottom: 1px;
    right: 10px;
    height: 35px;
    width: 35px;
    font-size: 18px;
    background: var(--hellgrau);
    border: none;
    justify-content: center;
}

.aktion_popup {
    display: none; /*inaktive*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--hellgrau);
    padding: 15px;
    flex-direction: column;
    gap: 15px;
}

.aktion_popup.aktiv {
    display: flex;
}

.mehr_laden_button {
    
}

.add_button {       /* + Button */
    position:fixed;
    bottom: 8px;
    right: 8px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    justify-content: center;
}

.add_popup {
    display: none; /*inaktiv*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    background-color: var(--hellgrau);
    padding: 15px;
    flex-direction: column;
}
.add_popup.aktiv {
    display: flex;
}

.upload_title {
    text-align: center;
}

.kamera_button {
    background: var(--hellgrau);
    border: none;
    /* width: 40px;
    height: 40px; */
    align-self: center;
    justify-content: center;
}

.kamera_button img{
    width: 40px;
    height: 40px;
}

.farbe_popup {
    display: none; /*inaktive in add button popup*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dunkelgrau);
    padding: 10px;
}

.farbe_popup.aktiv {
    display: flex;
    gap: 10px;
}
