:root{
  --bg: #b6bec7;
  --primary: #0095ff;
  --inputbg: #f2f2f2;
  --popupbg: #c9c9c9;
}

body{
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Form */
.form-group{ margin-bottom: 20px; }
.form-group label{ display:block; margin-bottom:5px; }
.form-group input{
  width:100%;
  box-sizing:border-box;
  padding:10px;
  border:none;
  background: var(--inputbg);
}

/* Buttons  */
.login-btn, .signup-btn, .forgot-btn, .popup-box button{
  width:100%;
  box-sizing:border-box;
  padding:12px;
  background: var(--primary);
  color:#fff;
  border:none;
  font-size:18px;
  cursor:pointer;
}

/* Popup */
.popup-overlay{
  position:fixed;
  left:0; top:0;
  width:100%; height:100%;
  background: rgba(0,0,0,0.35);
  display:none;
  justify-content:center;
  align-items:center;
}

.popup-box{
  width:300px;
  background: var(--popupbg);
  padding:25px 20px;
  text-align:center;
}

.popup-box button{ 
    font-size:16px; }


