body {
    margin: 0;                 
    font-family: Arial;        
}

.signup-screen {
    background-color: #b6bec7; 
    height: 100vh;             

    display: flex;
    justify-content: center;   
    align-items: center;       
}


.signup-container {
    background-color: white;  
    width: 360px;              
    padding: 30px;             
    border-radius: 20px;       
    min-height: calc(100vh - 120px);
}

.back-arrow {
    text-decoration: none;     
    font-size: 24px;           
    display: inline-block;     
    margin-bottom: 20px;      
}


.form-group {
    margin-bottom: 20px;       
}

.form-group label {
    display: block;            
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;              
    box-sizing: border-box;    
    padding: 10px;
    border: none;            
    background-color: #f2f2f2; 
}


.signup-btn {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    background-color: #0095ff; 
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;           
}


.popup-overlay {
    position: fixed;           
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35); 
    display: none;             
    justify-content: center;
    align-items: center;
    z-index: 9999;            
}

.popup-box {
    width: 300px;
    background: #c9c9c9;       
    padding: 25px 20px;
    text-align: center;
}

.popup-box p {
    margin: 0 0 15px 0;
    font-size: 18px;
}

.popup-box button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #0095ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

