
/* Login-Hintergrund & Zentrierung */
.login-screen {
    background-color: #b6bec7;
    height: 100vh;                 
    display: flex;
    justify-content: center;      
    align-items: center;           
}

.login-container {
    background: white;
    width: 360px;                  
    padding: 30px;                
    border-radius: 20px;           
    min-height: calc(100vh - 120px); 
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
}

.login-avatar {
    width: 200px;
    height: 200px;
    background-color: #b0b0b0;
    border-radius: 50%;            
    margin: 0 auto 30px auto;      

    display: flex;
    align-items: center;
    justify-content: center;
}


.login-btn {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    background-color: #0095ff;
    color: white;
    border: none;
    font-size: 18px;
}

/* Links unter dem Button */
.login-links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.login-links a {
    text-decoration: none;
    color: gray;
}

.login-links .signup {
    color: #0095ff;
}
