body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.forgot-screen {
    background-color: #b6bec7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-container {
    background-color: white;
    width: 360px;
    padding: 30px;
    border-radius: 20px;
    min-height: calc(100vh - 120px);
}

.back-arrow {
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 30px;
}

.forgot-btn {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    background-color: #0095ff;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

