/* Hier kommen die Sachen die auf allen Seiten gleich sind (Schriftart, Buttons, ...)
wegen DRY
in login.css kommen dann nur die Sachen, die nur in login.html benutzt werden */

/* viele flexboxen benutzen */

:root {           /* globale Variablen (z.B. Farbe) */
    --blau: rgb(27, 126, 219);      /* https://stackoverflow.com/questions/15831657/creating-css-global-variables-stylesheet-theme-management*/
    --hellgrau: rgb(205, 205, 205);
    --dunkelgrau: rgb(107, 107, 107);
}

div {
    display: flex;
    justify-content: center;
}

input {
    background-color: rgb(212, 214, 211);
    padding: 10px;
    border-radius: 15px;    /*wird dadurch rund*/
    margin: 20px;
    border: none;
    box-shadow: 0 10px 9px rgba(0, 0, 0, 0.2);
}

input:hover {
    background-color: rgb(55, 122, 122)
}

button {
    background-color: var(--blau);
    padding: 12px;
    margin: 5px;
    border-radius: 15px;
    justify-content: center;
    box-shadow: 0 10px 9px rgba(0, 0, 0, 0.2);
}

button:hover {
    scale: 1.10;                           /*button bewegt sich beim hovern */
    background-color: rgb(55, 122, 122)
}

.navLeiste {
    display: flex;
    justify-content: center;    /*stretch*/
    background-color: var(--hellgrau);
    border-radius: 20px;
}

img:hover {
    scale: 1.10;
    border-radius: 20px;
}

.tab {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 100px;
    background-color: rgb(212, 208, 208);
    border-radius: 15px;
    color: black;
    font-size: 17px;
}

.tab_aktiv {
    background-color: var(--blau);
}


.tab:hover {
    background-color: rgb(88, 88, 124);
    scale: 1.10;
}