img {
    max-width: 100px;
    max-height: 200px;
}

.creatorZeile {
    display: flex;
    justify-content: space-around;
    background-color: chartreuse;
    padding: 20px;
    
}

.pfeil {
    scale: 1.10;
    background-color: rgb(255, 252, 53);
    border-radius: 15px;
}

.kleidungsBox {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding: 10px;     /*später weg*/
}

