<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="hier die passende css datei" rel="stylesheet">
</head>
<body>
    <nav class="navLeiste">
    <a href="community-profil.html" class="tab tab_aktiv">Community</a>
    <a href="garderobe-outfits.html" class="tab tab_inaktiv">Garderobe</a>
    <a href="neuesOutfit.html" class="tab tab_inaktiv">neues Outfit</a>
    </nav>

    <nav class="navLeiste_sekundär">
    <a href="community-profil.html" class="tab tab_inaktiv">Mein Profil</a>
    <a href="community-entdecken.html" class="tab tab_aktiv">Entdecken</a>
    <a href="community-merkliste.html" class="tab tab_inaktiv">Merkliste</a>
    </nav>

    <main>

    <section class="outfit-card">
        <div class="user-info">
            <img class="user-icon" alt="User Icon">
        <span class="username">Influencer_Lübeck37</span>
        </div>

        <h3 class="outfit-title">Outfit Lübeck</h3>

        <img class="outfit-image" alt="Outfit Bild">

        <div class="stats">
           <div class="likes">Likes: <span>2490</span></div>
            <div class="comments">Kommentare: <span>395</span></div>
        </div>
    </section>

    <section class="outfit-card">
        <div class="user-info">
           <img class="user-icon" alt="User Icon">
          <span class="username">road_to_10k</span>
        </div>

        <h3 class="outfit-title">Bitte Liken!</h3>

        <img class="outfit-image" alt="Outfit Bild">

        <div class="stats">
    <div class="likes">Likes: <span>1320</span></div>
         <div class="comments">Kommentare: <span>210</span></div>
        </div>
    </section>

</main>

    
</body>
</html>
